<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span4"></div>
        <div class="span4">

<br>
<h2>Gruppe: Marco Schwarzenbach, Mario Locher, Nicolas Boller, Simon Schwab</h2>
<h2>Bitte fügen sie die Eigenschaften des Kreditnehmers ein:</h2>
<form method="POST">
    {# This is hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <table class="table">
        <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
        <tr>
            <td>Alter (Jahre)</td>
            <td> {{ form.Var1 }}</td>
        </tr>

    <tr>
        <td>Job (0,1,2,3)</td>
        <td> {{ form.Var2 }}</td>
    </tr>

    <tr>
        <td>Kredithöhe (EUR)</td>
        <td>{{ form.Var3 }}</td>
    </tr>

    <tr>
        <td>Dauer (Monate)</td>
        <td>{{ form.Var4 }}</td>
    </tr>
    </table>
    {{ form.submit() }}
</form>
</div>
<div class="span4"></div>

<p>
<br>
<br>
<img src="{{ url_for('static', filename='prediction.jpg') }}" width="60%">
<br>
<h3>Programmed by:</h3>
<br>
<img src="{{ url_for('static', filename='marco.jfif') }}" width="40%">
</p>

</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>